
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


mono_crash.*


mono_crash.*


.idea


.vscode/*


.history
.Rproj.user


*.xcuserstate
*.xcworkspace


.vscode
.vs


thumbs.db
Thumbs.db


.DS_Store


~*


[Bb]in/
[Oo]bj/


*.VC.db
*.VC.opendb
*.VC.db-wal


.vs/
